{% extends 'panel.html' %}

{% block title %}
  Редактирование продукта
{% endblock %}

{% block main %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Редактирование продукта</h1>
  </div>

  <!--<h3>Редактирование пользователя</h3>-->

  <!-- START FORM -->
  <form class="form-signin" method='POST'>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div style="color: red;">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    <br>

    <label for="title">Название</label>
    <input type="text" name="title" id="title" class="form-control" value="{{ item.title }}" required>
    <br>

    <label for="price">Цена</label>
    <input type="text" name="price" id="price" class="form-control" value="{{ item.price }}" required>
    <br>

    <label for="category">Категория:</label>
      <select name="category" id="category" required>
        <option value="cat">Кошка</option>
        <option value="dog">Собака</option>
      </select>
    <br>
    <br>

    <label for="intro">Краткое описание</label>
    <textarea name="intro" id="intro" class="form-control" placeholder="{{ item.intro }}" required>{{ item.intro }}</textarea>
    <br>

    <label for="text">Полное описание</label>
    <textarea name="text" id="text" class="form-control" placeholder="{{ item.text }}" required>{{ item.text }}</textarea>
    <br>

    <label for="status">Наличие в складе:</label>
      <select name="status" id="status" required>
        <option value="True">Достуен</option>
        <option value="False">Нет в наличии</option>
      </select>
    <br>
    <br>

  <input type="submit" class="btn btn-warning" value="Сохранить">
  <a href="/admin-panel/items" class="btn btn-success">Назад</a>

  <br>
  <br>

</main>
{% endblock %}
